/* Reset =================================================== */
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
/*

Any reset files to be placed in before nth

*/
/* 
	a quick reset. use what you like. 
*/
* {
  margin: 0;
  padding: 0;
}
/* percentge setting for the gutter, interesting possibilities are created with gutter 0 and padding applied instead */
/* 
		for now is best to keep below setting, 
		it may make sense in the future to experiment.
*/
/*
 		a tiny bit of branding here:

*/
.container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.reg {
  overflow: hidden;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.reg img {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.defaultreg {
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.reg > * {
  display: block;
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 0%;
  padding: 0 10px;
}
.reg > *.reg {
  padding: 0;
}
.newline {
  margin-right: 0;
}
/*

basic modules:

*/
.r1  > *:nth-child(n) {
  width: 100%;
  margin-right: 0;
}
.r2  > *:nth-child(n) {
  width: 50%;
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r2  > *:nth-child(2n+2) {
  margin-right: 0;
}
.r2  > *:nth-child(2n+1) {
  clear: left;
}
.r3  > *:nth-child(n) {
  width: 33.333333333333336%;
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r3  > *:nth-child(3n+3) {
  margin-right: 0;
}
.r3  > *:nth-child(3n+1) {
  clear: left;
}
.r4  > *:nth-child(n) {
  width: 25%;
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r4  > :nth-child(4n+4) {
  margin-right: 0;
}
.r4  > :nth-child(4n+1) {
  clear: left;
}
.r6  > *:nth-child(n) {
  width: 16.666666666666668%;
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r6  > :nth-child(6n+6) {
  margin-right: 0;
}
.r6  > :nth-child(6n+1) {
  clear: left;
}
.r12  > *:nth-child(n) {
  width: 8.333333333333334%;
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r12  > :nth-child(12n+12) {
  margin-right: 0;
}
.r12  > :nth-child(12n+1) {
  clear: left;
}
/*

basic non-standardsorted


*/
.r5  > *:nth-child(n) {
  width: 20%;
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r5  > :nth-child(5n+5) {
  margin-right: 0;
}
.r5  > :nth-child(5n+1) {
  clear: left;
}
.r7  > * {
  width: 14.283333333333333%;
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r7  > :nth-child(7n+7) {
  margin-right: 0;
}
.r7  > :nth-child(7n+1) {
  clear: left;
}
.r8  > * {
  width: 12.5%;
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r8  > :nth-child(8n+8) {
  margin-right: 0;
}
.r8  > :nth-child(8n+1) {
  clear: left;
}
.r9  > * {
  width: 11.111111116666667%;
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r9  > :nth-child(9n+9) {
  margin-right: 0;
}
.r9  > :nth-child(9n+1) {
  clear: left;
}
/*

double modules:

*/
.r7-5  > *:nth-child(n) {
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r7-5  > :nth-child(2n+1) {
  width: 58.333333333333336%;
}
.r7-5  > :nth-child(2n+2) {
  width: 41.66666666666667%;
  margin-right: 0;
}
.r8-4  > *:nth-child(n) {
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r8-4  > :nth-child(2n+1) {
  width: 66.66666666666667%;
}
.r8-4  > :nth-child(2n+2) {
  width: 33.333333333333336%;
  margin-right: 0;
}
.r9-3  > *:nth-child(n) {
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r9-3  > :nth-child(2n+1) {
  width: 75%;
}
.r9-3  > :nth-child(2n+2) {
  width: 25%;
  margin-right: 0;
}
.r3-9  > *:nth-child(n) {
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r3-9  > :nth-child(2n+1) {
  width: 25%;
}
.r3-9  > :nth-child(2n+2) {
  width: 75%;
  margin-right: 0;
}
.r4-8  > *:nth-child(n) {
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r4-8  > :nth-child(2n+1) {
  width: 33.333333333333336%;
}
.r4-8  > :nth-child(2n+2) {
  width: 66.66666666666667%;
  margin-right: 0;
}
.r5-7  > *:nth-child(n) {
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r5-7  > :nth-child(2n+1) {
  width: 41.66666666666667%;
}
.r5-7  > :nth-child(2n+2) {
  width: 58.333333333333336%;
  margin-right: 0;
}
.r2-10  > *:nth-child(n) {
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r2-10  > :nth-child(2n+1) {
  width: 16.666666666666668%;
}
.r2-10  > :nth-child(2n+2) {
  width: 83.33333333333334%;
  margin-right: 0;
}
.r10-2  > *:nth-child(n) {
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r10-2  > :nth-child(2n+1) {
  width: 83.33333333333334%;
}
.r10-2  > :nth-child(2n+2) {
  width: 16.666666666666668%;
  margin-right: 0;
}
.r1-11  > *:nth-child(n) {
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r1-11  > :nth-child(2n+1) {
  width: 8.333333333333334%;
}
.r1-11  > :nth-child(2n+2) {
  width: 91.66666666666667%;
  margin-right: 0;
}
.r11-1  > *:nth-child(n) {
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r11-1  > :nth-child(2n+1) {
  width: 91.66666666666667%;
}
.r11-1  > :nth-child(2n+2) {
  width: 8.333333333333334%;
  margin-right: 0;
}
/*

tripple modules

*/
.r3-3-6  > *:nth-child(n) {
  width: 25%;
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r3-3-6  > :nth-child(3n+3) {
  width: 50%;
  margin-right: 0;
}
.r6-3-3  > *:nth-child(n) {
  width: 25%;
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r6-3-3  > :nth-child(3n+1) {
  width: 50%;
}
.r6-3-3  > :nth-child(3n+3) {
  margin-right: 0;
}
.r3-6-3  > *:nth-child(n) {
  width: 25%;
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r3-6-3  > :nth-child(3n+2) {
  width: 50%;
}
.r3-6-3  > :nth-child(3n+3) {
  margin-right: 0;
}
.r4-5-3  > :nth-child(3n+1) {
  width: 33.333333333333336%;
}
.r4-5-3  > :nth-child(3n+2) {
  width: 41.66666666666667%;
}
.r4-5-3  > :nth-child(3n+3) {
  width: 25%;
  margin-right: 0;
}
.r3-5-4  > *:nth-child(n) {
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r3-5-4  > :nth-child(3n+1) {
  width: 25%;
}
.r3-5-4  > :nth-child(3n+2) {
  width: 41.66666666666667%;
}
.r3-5-4  > :nth-child(3n+3) {
  width: 33.333333333333336%;
  margin-right: 0;
}
.r5-4-3  > *:nth-child(n) {
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r5-4-3  > :nth-child(3n+1) {
  width: 41.66666666666667%;
}
.r5-4-3  > :nth-child(3n+2) {
  width: 25%;
}
.r5-4-3  > :nth-child(3n+3) {
  width: 33.333333333333336%;
  margin-right: 0;
}
.r5-3-4  > *:nth-child(n) {
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r5-3-4  > :nth-child(3n+1) {
  width: 41.66666666666667%;
}
.r5-3-4  > :nth-child(3n+2) {
  width: 25%;
}
.r5-3-4  > :nth-child(3n+3) {
  width: 33.333333333333336%;
  margin-right: 0;
}
.r4-6-2  > *:nth-child(n) {
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r4-6-2  > :nth-child(3n+1) {
  width: 33.333333333333336%;
}
.r4-6-2  > :nth-child(3n+2) {
  width: 50%;
}
.r4-6-2  > :nth-child(3n+3) {
  width: 16.666666666666668%;
  margin-right: 0;
}
.r4-2-6  > *:nth-child(n) {
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r4-2-6  > :nth-child(3n+1) {
  width: 33.333333333333336%;
}
.r4-2-6  > :nth-child(3n+2) {
  width: 16.666666666666668%;
}
.r4-2-6  > :nth-child(3n+3) {
  width: 50%;
  margin-right: 0;
}
.r6-4-2  > *:nth-child(n) {
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r6-4-2  > :nth-child(3n+1) {
  width: 50%;
}
.r6-4-2  > :nth-child(3n+2) {
  width: 33.333333333333336%;
}
.r6-4-2  > :nth-child(3n+3) {
  width: 16.666666666666668%;
  margin-right: 0;
}
.r2-4-6  > *:nth-child(n) {
  clear: none;
  float: left;
  margin-right: 0%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.r2-4-6  > :nth-child(3n+1) {
  width: 16.666666666666668%;
}
.r2-4-6  > :nth-child(3n+2) {
  width: 33.333333333333336%;
}
.r2-4-6  > :nth-child(3n+3) {
  width: 50%;
  margin-right: 0;
}
/*

COLORS

*/
/*

font-family;

*/
.georgia {
  font-family: Georgia, 'Times New Roman', serif;
}
.arial {
  font-family: Arial, 'Helvetica Nueue', sans-serif;
}
.helv {
  font-family: 'Helvetica Nueue Regular', Helvetica, Arial, sans-serif;
}
.bold {
  font-weight: bold;
}
.normal {
  font-weight: normal;
}
.large {
  font-size: 24px;
  line-height: 32px;
}
.medium {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -1px;
}
.regular {
  font-size: 15px;
  line-height: 20px;
}
.small {
  font-size: 11px;
  line-height: 15px;
}
.bd {
  border: 1px solid red;
}
* {
  line-height: 20px;
}
/*

LAYOUT

*/
.container {
  width: 100%;
  padding: 20px;
  max-width: 1600px;
  margin: 0 auto;
}
/*

COLORS

*/
body {
  color: #222222;
  background: #eeeeee;
}
/*

TYPOGRAPHY

*/
body {
  font-family: 'Helvetica Nueue Regular', Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
}
h1 {
  font-size: 24px;
  line-height: 32px;
}
h2 {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -1px;
}
h3 {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -1px;
}
h4 {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -1px;
}
h5 {
  font-size: 11px;
  line-height: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
}
p {
  margin-bottom: 10px;
}
p + p {
  margin-bottom: 20px;
}
.home .intro p {
  max-width: 650px;
  font-size: 18px;
  line-height: 22.5px;
}
.code {
  padding: 20px;
  background: #fff;
  font-size: 16px;
  margin-bottom: 20px;
}
pre {
  padding: 20px;
  background: #fff;
  font-size: 16px;
  margin-bottom: 20px;
  white-space: pre-line;
}
.home .icons article {
  padding: 10px;
}
.home .icons img {
  width: 25%;
  height: auto;
  margin: 100px auto;
  display: block;
}
.nth-logo {
  color: #000;
  font-family: 'Helvetice Neue', Arial, serif;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: -1px;
  text-decoration: none;
  margin-bottom: 20px;
}
.nth-logo sup {
  font-size: 30%;
  text-transform: uppercase;
  letter-spacing: 0px;
  position: relative;
  top: -20px;
}
.nth-logo sup:after {
  content: ":)";
}
.nth-logo:hover sup:after {
  content: ";)";
}
.nth-logo a {
  text-decoration: none;
}
.nth-logo a:hover {
  color: #fff;
}
/*

UI


*/
a {
  text-decoration: underline;
  color: #222;
}
.action {
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
  padding: 20px;
  color: #eee;
  background: #222;
  /**/

  font-size: 16px;
  text-transform: lowercase;
}
.action.tiny {
  margin-bottom: 5px;
  display: inline-block;
  padding: 2px 5px;
  font-size: 13px;
}
.actionthemebasic {
  padding: 20px;
  color: #eee;
  background: #222;
  /**/

  font-size: 16px;
  text-transform: lowercase;
}
.action:hover {
  background: #fff;
  color: #222;
}
.im {
  background: #00ff00;
  height: 100%;
}
.im2 {
  background: rgba(0, 0, 255, 0.3);
  height: 100%;
}
#main {
  position: relative;
  z-index: 10;
}
#grid_debug {
  position: absolute;
  z-index: 1;
  width: 100%;
  margin: 0px auto 0;
  display: block;
}
#grid_debug .im {
  background: transparent;
  border: 1px solid rgba(255, 0, 255, 0.1);
  border-width: 0 1px;
  padding-top: 0;
  padding-bottom: 100px;
}
/* js elements for insights
.sizecheck{ background:#eee;color:#000;font-size:11px;position:absolute;top:5px;right:5px;}

 */
/*



*/
/* Smartphones */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 100%;
    padding: 5px;
  }
  .reg > * {
    padding: 0 10px;
  }
  .reg > *.reg {
    padding: 0;
  }
  .icons  > *:nth-child(n) {
    width: 100%;
    margin-right: 0;
  }
  .home header  > *:nth-child(n) {
    width: 100%;
    margin-right: 0;
  }
  .home header hgroup {
    overflow: hidden;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .home header hgroup  > *:nth-child(n) {
    width: 50%;
    clear: none;
    float: left;
    margin-right: 0%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .home header hgroup  > *:nth-child(2n+2) {
    margin-right: 0;
  }
  .home header hgroup  > *:nth-child(2n+1) {
    clear: left;
  }
  .home header .action {
    float: right;
  }
  .demo .m4-8  > *:nth-child(n) {
    clear: none;
    float: left;
    margin-right: 0%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .demo .m4-8  > :nth-child(2n+1) {
    width: 33.333333333333336%;
  }
  .demo .m4-8  > :nth-child(2n+2) {
    width: 66.66666666666667%;
    margin-right: 0;
  }
  .demo .m4  > *:nth-child(n) {
    width: 25%;
    clear: none;
    float: left;
    margin-right: 0%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .demo .m4  > :nth-child(4n+4) {
    margin-right: 0;
  }
  .demo .m4  > :nth-child(4n+1) {
    clear: left;
  }
  .demo .m3  > *:nth-child(n) {
    width: 33.333333333333336%;
    clear: none;
    float: left;
    margin-right: 0%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .demo .m3  > *:nth-child(3n+3) {
    margin-right: 0;
  }
  .demo .m3  > *:nth-child(3n+1) {
    clear: left;
  }
  .demo .m2  > *:nth-child(n) {
    width: 50%;
    clear: none;
    float: left;
    margin-right: 0%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .demo .m2  > *:nth-child(2n+2) {
    margin-right: 0;
  }
  .demo .m2  > *:nth-child(2n+1) {
    clear: left;
  }
  .demo .m1  > *:nth-child(n) {
    width: 100%;
    margin-right: 0;
  }
  .demo .mh {
    display: none;
  }
  .mh {
    display: none;
  }
}
/* Smartphones - landscape */@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
  .container {
    width: 100%;
    padding: 5px;
  }
  .home .icons article {
    margin-bottom: 40px;
  }
  .home .icons figure {
    overflow: hidden;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  .home .icons figure  > *:nth-child(n) {
    clear: none;
    float: left;
    margin-right: 0%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .home .icons figure  > :nth-child(2n+1) {
    width: 16.666666666666668%;
  }
  .home .icons figure  > :nth-child(2n+2) {
    width: 83.33333333333334%;
    margin-right: 0;
  }
  .home .icons h2 {
    margin-bottom: 0px;
    border: 0;
    padding: 10px 0 10px 20px;
  }
  .home .icons img {
    padding: 5px;
    margin: 0px;
  }
  .reg > * {
    padding: 0 5px 5px;
  }
}
@media screen and (min-width: 481px) and (max-width: 800px) {
  .icons  > *:nth-child(n) {
    width: 50%;
    clear: none;
    float: left;
    margin-right: 0%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .icons  > *:nth-child(2n+2) {
    margin-right: 0;
  }
  .icons  > *:nth-child(2n+1) {
    clear: left;
  }
  article img {
    width: 25%;
  }
  .home header  > *:nth-child(n) {
    width: 100%;
    margin-right: 0;
  }
  .home header hgroup {
    overflow: hidden;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .home header hgroup  > *:nth-child(n) {
    width: 50%;
    clear: none;
    float: left;
    margin-right: 0%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .home header hgroup  > *:nth-child(2n+2) {
    margin-right: 0;
  }
  .home header hgroup  > *:nth-child(2n+1) {
    clear: left;
  }
  .home header .action {
    float: right;
  }
  .demo .m4-8  > *:nth-child(n) {
    clear: none;
    float: left;
    margin-right: 0%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .demo .m4-8  > :nth-child(2n+1) {
    width: 33.333333333333336%;
  }
  .demo .m4-8  > :nth-child(2n+2) {
    width: 66.66666666666667%;
    margin-right: 0;
  }
  .demo .m4  > *:nth-child(n) {
    width: 25%;
    clear: none;
    float: left;
    margin-right: 0%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .demo .m4  > :nth-child(4n+4) {
    margin-right: 0;
  }
  .demo .m4  > :nth-child(4n+1) {
    clear: left;
  }
  .demo .m3  > *:nth-child(n) {
    width: 33.333333333333336%;
    clear: none;
    float: left;
    margin-right: 0%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .demo .m3  > *:nth-child(3n+3) {
    margin-right: 0;
  }
  .demo .m3  > *:nth-child(3n+1) {
    clear: left;
  }
  .demo .m2  > *:nth-child(n) {
    width: 50%;
    clear: none;
    float: left;
    margin-right: 0%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .demo .m2  > *:nth-child(2n+2) {
    margin-right: 0;
  }
  .demo .m2  > *:nth-child(2n+1) {
    clear: left;
  }
  .demo .m1  > *:nth-child(n) {
    width: 100%;
    margin-right: 0;
  }
  .demo .mh {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  .container {
    width: 80%;
    min-width: 800px;
    max-width: 1400px;
    padding: 20px;
  }
  .icons  > *:nth-child(n) {
    width: 25%;
    clear: none;
    float: left;
    margin-right: 0%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .icons  > :nth-child(4n+4) {
    margin-right: 0;
  }
  .icons  > :nth-child(4n+1) {
    clear: left;
  }
  .home header .action {
    float: none;
  }
}
